<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- чтоб не было прокрутки -->
    <meta name="robots" content="index, follow"> <!-- для индексации страниц -->
    <meta name="theme-color" content="#ffffff"> <!-- для задания цвета темы (или фона) для браузера мобильных устройств. Этот тег позволяет веб-разработчикам указать основной цвет темы, который может быть использован браузером при отображении элементов пользовательского интерфейса, таких как адресная строка или заголовки в мобильных браузерах. -->
    <meta name="description" content="Салон красоты по адресу: г. Анапа, ул. Ленина, д.195, 3 подъезд, цоколь. Тел: +7 918-643-60-58" />
    <title>Document (не должен быть коротким - оптимальная длина около 50-70 символов)</title>

    <link rel="alternate" media="only screen and (max-width: 640px)" href=" https://strizhki-anapa.ru/" /> <!-- используется для определения альтернативной версии ресурса, предназначенной для устройств с шириной экрана, не превышающей 640 пикселей. -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.min.css">
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <!-- <link rel="stylesheet" href="css/animate.min.css"> -->

    <!-- Шрифты: -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet">
    <!-- или: -->
    <link rel="stylesheet" href="css/fonts.css">

    <!-- Фавиконка (сайт https://realfavicongenerator.net/), из полученного архива копируем файлы favicon.ico и site.webmanifest в корневую папку, остальные файлы в папку img, прописываем пути: -->
    <link rel="apple-touch-icon" sizes="180x180" href="./img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./img/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="./img/safari-pinned-tab.svg" color="#17a045">
    <meta name="msapplication-TileColor" content="#da532c"><!-- для настройки цвета фона, который отображается при создании ярлыка (тайл) для веб-сайта в операционных системах Microsoft, таких как Windows 8 и Windows 10. Этот тег определяет цвет фона для плитки, которая может быть использована на стартовом экране или в меню "Пуск" в Windows. -->
</head>